VITE_DEFAULT_ORIA_NETWORK=shelbynet
VITE_APTOS_API_KEY=
VITE_SHELBY_API_KEY=
VITE_ORIA_REGISTRY_ADDRESS=
VITE_ORIA_DISCOVERY_API_URL=
PORT=8787
ORIA_REGISTRY_ADDRESS=
APTOS_NODE_URL=https://api.shelbynet.shelby.xyz/v1
VITE_SHELBY_INDEXER_URL=https://api.shelbynet.aptoslabs.com/nocode/v1/public/alias/shelby/shelbynet/v1/graphql
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
